@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('/fonts/tt-norms-pro/regular.woff2') format('woff2'),
		url('/fonts/tt-norms-pro/regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms Pro';
	src:
		url('/fonts/tt-norms-pro/bold.woff2') format('woff2'),
		url('/fonts/tt-norms-pro/bold.woff') format('woff');
	font-weight: 800;
	font-style: bold;
}